*{
  --color-primay:#dc8c4b;
  --color-secondary:#f5f5f5;
  --color-terciary:#4a3006;
  --color-fourth:#4b7dcf;
}

.AdminPage{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.ContenidoAdmin{
  width: 100%;
}

.TextoCargando{
  width: 100%;
  text-align: center;
  margin: 2em;
}

.PanelAdmin{
  width: 100%;
  padding: 1em;
  background-color: var(--color-primay);
  color: var(--color-secondary);
}

.TituloSeccion{
  color: var(--color-terciary);
  font-weight: 600;
}