*{
  --color-principalfooter :#090909 ;
  --color-secondaryfooter : #ece6df79;
  --color-terciaryfooter : #efc78c;
  --color-fourthfooter : #efc78c;
   --color-sixthfooter : #efc78c;
}
.back-footer-color{
  background-color: var(--color-principalfooter);
}
.footer-content {
  width: 100%;
  height: auto;
  position: sticky;
 
  background-color: var(--color-principalfooter);
}
.card-img-footer {
  width:40%;
  background-color: var(--color-principalfooter);
  color: var(--color-terciaryfooter);
  border-style: none;
}
.col-md-4{
  height: auto;
  width: 220px;
}
 .img-fluid {
  width: 100%;
  height: 230px;
}
.col-md-8{
  width: 250px;
}
.card-body-img-footer{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}

.RedesIMG{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

 .redes{
  margin:0;
  width: auto;
  height: auto;
}
.bi-facebook, .bi-instagram, .bi-tiktok, .bi-twitter-x{
  width: 50px;
  height: 50px;
  color: var(--color-fourthfooter);
}
.size-redes{
  width: 60px;
  height: 30px;
}
.bi-facebook:hover, .bi-instagram:hover, .bi-tiktok:hover, .bi-twitter-x:hover{
  background-color: var(--color-secondaryfooter);
  border-radius: 1em;
  box-shadow: 0px 0px 20px var(--color-secondaryfooter);
  color: #090909;
  transition: 400ms;
  display: inline-block;
  min-width: 3px;
}
.columna2 .textofootercol ul li a p:hover, .columna3 .textofootercol ul li a p:hover{
  background-color: var(--color-secondaryfooter);
  border-radius: 1em;
  box-shadow: 0px 0px 10px var(--color-secondaryfooter);
  color: #090909;
  transition: 400ms;
      display: inline-block;
    min-width: 250px;
}
.bi-geo-alt-fill{
  color: #5c0303;
}
.nav,
.justify-content-center,
.border-bottom,
.pb-3,
.mb-3 {
  width: auto;
  height: auto;
  color: var(--color-terciaryfooter);
}
.text-center,
.text-body-secondary {
  width: auto;
}
.mb-2 .nav-link {
  color: var(--color-terciaryfooter);
}
#dr {
  margin-top: 4em;
}
.columna2,
.columna3 {
  width: auto;
}
.p-footer {
  margin-left: 0; 
  text-align: start;
  color: var(--color-fourthfooter);
}
.DownText {
  width: 100%;
  text-align: center;
  color: var(--color-sixthfooter);
  
}