*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-principalHeader: #584738;
  --color-principal2Header: #3f3228;
  --color-secondaryHeader: #4c583e;
  --color-terciaryHeader: #b59e7d;
  --color-fourthHeader: #959581;
  --color-fourth2Header: #95958170;
  --color-fifthHeader: #f1eada;
  --color-sixthHeader: #eec58c;
  --color-seventhHeader: #aa6d3b;
}

.logoSPA{
  width: 2.5em;
}

.dropdownn-login-saludo-header{
  background-color: var(--color-fourth2Header);
  font-weight: 550;
}
.itemsHeader{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #302620;
  padding: 0.5rem;
}
.navbar a {
  text-decoration: none;
  color: #302620;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

