*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoSPA{
  width: 2.5em;
}

.navbar a {
  text-decoration: none;
  color: #302620;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
