*{
  --color-principalHome: #584738;
  --color-secondaryHome: #4c583e;
  --color-terciaryHome: #B59E7D;
  --color-fourthHome: #959581;
  --color-fifthHome: #f1eada;
}
.MainHomeP{
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.carrusel{
    width: 100%;
}
.logoarticle {
  width: 10%;
}
.sectionPromosHP{
    width: 100%;
    height: auto;
}
.img{
    width: 17%;
    height: 68%;
    border-radius: 20px;
}

.text-muted{
    margin-top: 35px;
    height: auto;
}
.h2HomeP{
    text-align: center;
}
.TextCardPromoHP{
    height: auto;
    margin-top: 5px;
    margin-bottom: 25px;
}
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 20%;
}

.flex{
    padding: 1%;
    display: flex;
    justify-content: center;
}
.textoabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoabsolute {
  position: absolute;
  padding: 10px;
  color: var(--color-fifthHome);
  background-color: #b59e7d5a;
  border: solid 1px var(--color-fifthHome);
}

#etiquetaAsizeTratamiento, #etiquetaAsizeMasaje, #etiquetaAsizeRitual {
  font-size: 2rem;
  /* Para que los botones se vean del mismo tamaño: */
  display: inline-block;
  min-width: 225.55px;
  text-align: center;
  transition: transform 0.3s ease;
}
.seccionWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding: 12px;
}

@media (min-width: 1280px) {
  .seccionWrap {
    flex-direction: row;
    justify-content: center;
  }
}

.secciones {
  width: 100%;
  height: 30em;
  object-fit: cover;
  border-radius: 5px;
  border: solid 2px var(--color-fourth);
  filter: brightness(60%);
  cursor: pointer;
}

.secciones:hover {
  filter: brightness(100%);
  transition: 600ms;
}

#etiquetaAsize:hover {
  transform: scale(1.05);
  transition: 600ms;
}  
/* Por defecto (mobile): ocultamos la publicidad */
.publicidad {
  display: none;
}

/* Tablet (>= 768px) */
@media (min-width: 768px) {
  .publicidad {
    display: block;
  }
}

#imgpublicidad{
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #342d27;
  object-fit: cover;
}
.btnWappHP {
  background-color: var(--color-principalHome);
  color: var(--color-fifthHome);
  padding: 5px;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s ease;
}

.btnWappHP:hover {
  background-color: var(--color-terciaryHome);
  color: var(--color-fifthHome);
  transform: scale(1.05);
}

.GridsHomeP{
    width: 100%;
    height: auto;
}