*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principalServicio:#efad73;
  --color-secondaryServicio:#483412;
  --color-terciaryServicio:#ce8a2a;
  --color-fourthServicio:#785421;
  --color-fifthServicio:#f4db9f;
  --color-sixthServicio: #f6eace;
  --color-shecoment:#b52677;
  --color-boycoment:#0a2394;
}

.MainServicio{
  width: 100%;
  height: auto;
}

.Carrusel-Servicio{
  height: 30em;
  width: 100%;
}
.Contenido-Carrusel-Serv{
  height: 100%;
  display: flex;
  flex-direction: row;
}
.Img-Servicio{
  width: 25%;
  height: 30em;
}
.Titulo-Carrusel{
  font-size: xx-large;
  color: var(--color-secondaryServicio);
}
.Cuerpo-Texto{
  height: 30em;
  width: 75%;
  background-image:linear-gradient(to bottom, var(--color-terciaryServicio), var(--color-fifthServicio)) ;
  color: var(--color-fourthServicio);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.Btn-Servicio{
  background-color: var(--color-terciaryServicio);
  color: var(--color-fifthServicio);
  border: none;
  margin-bottom: 2em;
}
.Btn-Servicio:hover{
  background-color: var(--color-secondaryServicio);
  color: var(--color-fifthServicio);
}
.hr-servicio{
  width: 90%;
  border: 1px solid var(--color-secondaryServicio);
}
/* Sección de comentarios */
.Sector-Comentarios{
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Cards-Comentarios{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.Comentario{
  width: 29%;
  border-radius: 1em;
}
.body-comentario{
  margin: 0;
  padding: 0;
  border-radius: 1em;
  background-color: var(--color-sixthServicio);
}
.top-comentario{
  background-color: var(--color-principalServicio);
  padding-left: 1em;
  border-radius: 1em 1em 0 0;
}
.bi-star-fill{
    color: yellow;
}

.boy-coment , .girl-coment{
  font-size: x-large;
  margin-right: 0.5em;
}
.boy-coment{
  color: var(--color-boycoment);
}
.girl-coment{
  color: var(--color-shecoment);
}

.Testimonio{
  margin: 1em;
  
  color: black;
}


@media (max-width:425px) {

}

@media (max-width:768px) {


}

@media (max-width:1024px) {


  

}

@media (min-width: 1024px) {
  
}