*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#959581;
  --color-fifth:#f1eada;
}

body{
  background-color:#f1eada;
}

.Cajaflexible{
    display: flex;
    justify-content: space-around;
}

.Flexreseña{
    justify-content: center;
    align-items:first baseline; 
    color: #f1eada; 
}

#Titulotesti{
font-style:oblique;
}
 
.bi-star-fill{
    color: yellow;
}

.btnservicio{
  background-color: var(--color-fifth);
  padding: 15px;
  color: var(--color-principal);
  border-radius: 16px;
}

.btnservicio:hover{
  background-color: var(--color-fourth);
  color: var(--color-secondary);
  transition: 600ms;
}

.Testimonio{
    font-style: oblique;
    color: black;
}

.card-title2{
font-style: oblique;
color: black;
}

.col-md-8{
  background-color: #584738;
}

.card-text{
  color: #f1eada;
}

@media (max-width:425px) {
.Cajaflexible{
    width: 100%;
    display: flex;
   } 
   .card-header{
    width: 100%;
   }
.card, .border-dark, .mb-3{
  width: 100%;
}
   .card-body{
    width: 100%;
}
}

@media (max-width:768px) {

.Cajaflexible{
    width: 100%;
   } 
.carousel-item, .active{
  height: 1100px;
}
.d-block, .w-100{
  height: 120%;
}
   .row, .g-0{
    height: 500%;
   }
   .col-md-4, .carousel, .slide, .carousel-indicators{
    height: 1000px;
   }
.carousel-indicators{
  height: 800%;
}
}

@media (max-width:1024px) {
.Cajaflexible{
    width: 100%;
   } 
.carousel-item, .active{
  height: 1000px;
}
.d-block, .w-100{
  height: 100%;
}
   .row, .g-0{
    height: 200%;
   }
   .col-md-4, .carousel, .slide, .carousel-indicators{
    height: 1000px;
   }
.carousel-indicators{
  height: 800%;
}
}
  
.reseñasflex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
}

@media (min-width: 1024px) {
  .reseñasflex {
    flex-direction: row;
  }
}