* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principalturnos: #584738;
  --color-secondaryturnos: #4c583e;
  --color-terciaryturnos: #B59E7D;
  --color-fourthturnos: #959581;
  --color-fifthturnos: #f1eada;
}

.MainT {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--color-fifthturnos);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(214, 125, 8, 0.15);
}

.sectioncombos {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Texturno {
  font-style: normal;
  font-size: x-large;
  font-size: 2rem;

  color: var(--color-principalturnos);
  margin-bottom: 25px;
  text-align: center;
}

#formuselec {

  width: 100%;
  margin: 0;
  color: #584738;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hrturnos {
  width: 80%;
  font-weight: 800;
  border: 3px solid var(--color-principalturnos);
  font-style: normal;
  font-size: 1rem;

  color: var(--color-principalturnos);
  margin-bottom: 25px;
  text-align: center;
}


.turnos-reservados {
  width: 100%;
  height: auto;
  border: 2px solid var(--color-principalturnos);
  font-style: normal;
  font-size: 1rem;
  color: var(--color-principalturnos);
  margin-bottom: 45px;
  text-align: center;
}



.btnTurnos {
  background-color: var(--color-principalturnos);
  color: var(--color-fifthturnos);
  border: none;
  transition: transform 0.3s ease;
}

.btnTurnos:hover {
  background-color: var (--color-terciaryturnos);
  color: var(--color-fifthturnos);
  transform: scale(1.05);
}

.resumen-solicitud {
  font-style: normal;
}



.actions {
  background-color: var(--color-terciaryturnos);
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 8px;

}

#texsoli,
#resumen-solicitud {
  font-style: normal;
  font-size: 2rem;

  color: var(--color-principalturnos);
  margin-bottom: 10px;
  text-align: center;
}

.input-group {

  width: 100%;
  display: flex;
}

.input-group-text {

  background-color: var(--color-fourthturnos);
  width: 40%;
  min-width: 120px;

  color: var(--color-principalturnos);
  font-weight: bold;
  /* padding: 10px; */
  /* gap: 8px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-color: var(--color-principalturnos);
}

.form-select,
.custom-date-picker {

  background-color: var(--color-terciaryturnos);
  color: var(--color-principalturnos);
  font-weight: bold;
  padding: 10px;
  border: 1px solid var(--color-principalturnos);
  border-radius: 2px;
  transition: background-color 0.2s ease;
  width: 100%;
}

.form-select:hover,
.custom-date-picker:hover {
  cursor: pointer;
  background-color: #a38d6f;

}


.btn {
  background-color: var(--color-principalturnos);
  border: none;
  color: var(--color-fifthturnos);
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  margin-top: 15px;
}

.btn:hover {
  background-color: var(--color-terciaryturnos);
  color: var(--color-principalturnos);
  transform: scale(1.02);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hrturnos {
  width: 60%;
  margin: 20px auto;
  border: none;
  height: 3px;
  background-color: var(--color-principalturnos);
}


.custom-datepicker-container {
  border: none !important;
  padding: 0 !important;
  width: 100%;
  flex-wrap: wrap;
  height: 50%
}

.custom-date-picker {
  border: none !important;
  padding: 0.375rem 0.75rem !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}



@media (min-width: 768px) {
  .MainT {
    max-width: 700px;
    padding: 30px;
  }

  #formuselec {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }


  .input-group:nth-child(1),
  .input-group:nth-child(2) {
    grid-column: 1 / -1;
  }



  .btn {
    grid-column: 1 / -1;
    margin-top: 10px;
  }
}


@media (min-width: 1024px) {
  .MainT {
    max-width: 960px;
  }


}

@media (min-width: 1440px) {
  .MainT {
    max-width: 1200px;
  }


  #formuselec {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


  .input-group:nth-child(1),
  .input-group:nth-child(2) {
    grid-column: span 2;
  }



  .btn {
    grid-column: 1 / -1;
  }
}