* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principalturnos: #584738;
  --color-secondaryturnos: #4c583e;
  --color-terciaryturnos: #B59E7D;
  --color-fourthturnos: #959581;
  --color-fifthturnos: #f1eada;
}
.MainT{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.custom-date-picker {
     border: none !important;
    padding: 0.375rem 0.75rem !important; /* Ajusta el padding para que se alinee */
   }
.form-control .react-datepicker-wrapper, 
.form-control .react-datepicker__input-container {
     width: 100%;
 }

 .confirTurno {
background-color:#584738;
border-radius: 0%;
width: 100%;
border: none;
transition: transform 0.3s ease;
cursor: pointer;

 }

 .btnturno:hover {
background-color: var(--color-terciarycategoria);
 border-color: var(--color-terciarycategoria);
 }
.sectioncombos {
  width: 60%;
  margin: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  border: 3px solid var(--color-principalturnos);
  overflow-x: hidden;
}

#Texturno {
  font-style: oblique;
  font-size: 2.5em;
  color: rgb(82, 58, 11);
  margin-bottom: 20px;
  text-align: center;
}

#formuselec {
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group-text {
  background-color: var(--color-fourthturnos);
  width: 40%;
  display: flex;
  flex-direction: column;
  color: var(--color-principalturnos);
  font-weight: bold;
  padding: 10px;
}

.form-select {
  background-color: var(--color-terciaryturnos);
  padding: 10px;
  border: 1px solid var(--color-principalturnos);
  border-radius: 4px;
}

.form-select:hover{
  cursor: pointer;
  background-color: #877b6a88;
}

.input-group {
  display: flex;
  width: 40em;
}

#tama침o {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--color-principalturnos);
  margin-bottom: 10px;
}

#categoriaturno, #dia, #horario {
  border-bottom: var(--color-terciaryturnos) 1px solid;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: var(--color-principalturnos);
  padding-bottom: 5px;
}

.hrturnos{
  width: 80%;
  font-weight:800 ;
  border: 3px solid var(--color-principalturnos);
}
/* Sector de reservaci칩n de turnos */
.turnos-reservados{
  width: 100%;
  height: auto;
}
/* .flexcards{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
} */

.btnTurnos {
  background-color: var(--color-principalturnos);
  color: var(--color-fifthturnos);
  border: none;
  transition: transform 0.3s ease;
}

.btnTurnos:hover {
  background-color: var(--color-terciaryturnos);
  color: var(--color-fifthturnos);
  transform: scale(1.05);
}
.resumen-solicitud { 
  font-style: normal;
}

/* @media (max-width: 425px){
  .flexcards {
    flex-direction: row;
    justify-content: center;
  }
}

.Tarjetaeliminar {
  display: flex;
  flex-direction: column;
  background-color: #959581;
  width: 100%;
}

.btn-confirm,
.btn-back {
  width: 100%;
  max-width: 250px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3 ease;
}
 */

.actions {
  background-color: var(--color-terciaryturnos);
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 8px;

}

#texsoli, #resumen-solicitud {
  font-style:normal;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  color: var(--color-principalturnos);
}

@media (max-width:425px) {
  .MainT {
    display: flex;
    width: 100%;
  }

  #Texturno {
    font-size: 1.8em;
  }

  #form-selec {
    width: 95%;
    padding: 15px;
  }

  .input-group-text {
    padding: 8px;
    width: 100%;
  }

  .form-select {
    width: 100%;
  }

  .actions {
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #tama침o {
    width: 100%;
    margin-bottom: auto;
  }

  /* .btn-confirm,
  .btn-back {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.9em;
    flex-direction: row;
  }

  .Tarjetaeliminar {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
    max-width: 100%;
  } */

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    width: 100%;
  }

  .col {
    width: 100%;
    flex-wrap: wrap;
    height: 50%

}
}

@media (max-width:768px) {
  .input-group2 {
    flex-direction: column;
    width: 100%;
  }

 /*  .Tarjetaeliminar {
    width: 100%;
    flex-direction: row;
  } */

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    display: flex;
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #texsoli, #resumen-solicitud {
    width: 80%;
  }


  #tama침o {
    width: 50%;
  }

  

}

@media (max-width:1024px) {
  .MainT {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .sectioncombos {
    display: flex;
    flex-direction: column;
    width: 200%;
  }

  .input-group2 {
    display: flex;
    align-content: center;
    align-items: center;
    width: 200%;
  }

  /* .Tarjetaeliminar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  } */

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    display: flex;
    justify-content: center;
  }

  .col {
    width: 40%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-title {
    display: flex;
    justify-items: center;
  }

  .card-text {
    justify-content: center;
    align-items: center;
  }

  #reserva {
    width: 100%;
  }

  .actions {
    flex-wrap: wrap;
    width: 100%;
  }

  #texsoli, #resumen-solicitud {
    width: 60%;

  }

  #confboton, #volver-btn {
    width: 25%;
  }

  .btn-confirm {
    justify-content: center;
  }
 
}

@media (max-width:1024px) {
  .Tarjetaeliminar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}