* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principal: #584738;
  --color-secondary: #4c583e;
  --color-terciary: #B59E7D;
  --color-fourth: #959581;
  --color-fifth: #f1eada;
}
.MainT{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectioncombos {
  margin: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--color-principal);
  overflow-x: hidden;
}

#Texturno {
  font-style: oblique;
  font-size: 2.5em;
  color: rgb(82, 58, 11);
  margin-bottom: 20px;
  text-align: center;
}

#formuselec {
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group-text {
  background-color: var(--color-fourth);
  width: 40%;
  display: flex;
  flex-direction: column;
  color: var(--color-principal);
  font-weight: bold;
  padding: 10px;
}

.form-select {
  background-color: var(--color-terciary);
  padding: 10px;
  border: 1px solid var(--color-principal);
  border-radius: 4px;
}

.form-select:hover{
  cursor: pointer;
  background-color: #877b6a88;
}

.input-group {
  display: flex;
  width: 40em;
}

#tamaño {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--color-principal);
  margin-bottom: 10px;
}

#servicio, #dia, #horario {
  border-bottom: var(--color-terciary) 1px solid;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: var(--color-principal);
  padding-bottom: 5px;
}

.flexcards{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}

.btnTurnos {
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border: none;
  transition: transform 0.3s ease;
}

.btnTurnos:hover {
  background-color: var(--color-terciary);
  color: var(--color-fifth);
  transform: scale(1.05);
}
.resumen-solicitud { 
  font-style: normal;
}

@media (max-width: 425px){
  .flexcards {
    flex-direction: row;
    justify-content: center;
  }
}

.Tarjetaeliminar {
  display: flex;
  flex-direction: column;
  background-color: #959581;
  width: 100%;
}

.btn-confirm,
.btn-back {
  width: 100%;
  max-width: 250px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3 ease;
}


.actions {
  background-color: var(--color-terciary);
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 8px;

}

#texsoli, #resumen-solicitud {
  font-style:normal;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  color: var(--color-principal);
}

@media (max-width:425px) {
  .MainT {
    display: flex;
    width: 100%;
  }

  #Texturno {
    font-size: 1.8em;
  }

  #form-selec {
    width: 95%;
    padding: 15px;
  }

  .input-group-text {
    padding: 8px;
    width: 100%;
  }

  .form-select {
    width: 100%;
  }

  .actions {
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #tamaño {
    width: 100%;
    margin-bottom: auto;
  }

  .btn-confirm,
  .btn-back {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.9em;
    flex-direction: row;
  }

  .Tarjetaeliminar {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
    max-width: 100%;
  }

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    width: 100%;
  }

  .col {
    width: 100%;
    flex-wrap: wrap;
    height: 50%

}
}

@media (max-width:768px) {
  .input-group2 {
    flex-direction: column;
    width: 100%;
  }

  .Tarjetaeliminar {
    width: 100%;
    flex-direction: row;
  }

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    display: flex;
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #texsoli, #resumen-solicitud {
    width: 80%;
  }


  #tamaño {
    width: 50%;
  }

  

}

@media (max-width:1024px) {
  .MainT {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .sectioncombos {
    display: flex;
    flex-direction: column;
    width: 200%;
  }

  .input-group2 {
    display: flex;
    align-content: center;
    align-items: center;
    width: 200%;
  }

  .Tarjetaeliminar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .row,
  .row-cols-1,
  .row-cols-md-2,
  .g-4 {
    display: flex;
    justify-content: center;
  }

  .col {
    width: 40%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-title {
    display: flex;
    justify-items: center;
  }

  .card-text {
    justify-content: center;
    align-items: center;
  }

  #reserva {
    width: 100%;
  }

  .actions {
    flex-wrap: wrap;
    width: 100%;
  }

  #texsoli, #resumen-solicitud {
    width: 60%;

  }

  #confboton, #volver-btn {
    width: 25%;
  }

  .btn-confirm {
    justify-content: center;
  }
 
}

@media (max-width:1024px) {
  .Tarjetaeliminar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}