.btnarticle {
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border: none;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.btnarticle:hover {
  background-color: var(--color-terciary);
  color: var(--color-fifth);
  transform: scale(1.05);
}

#border {
  border-top: 1px solid var(--color-principal);
  margin: 15px 0px;
  padding: 15px;
}

/* MAIN ICONOS */
.wp {
  width: 80px;
  height: 80px;
  background-color: var(--color-secondary);
  font-size: 60px;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.wp:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.visitado {
  color: var(--color-fifth);
}

.cajawp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flecha {
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  font-size: 60px;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: transform 0.3s ease;
}

.flecha:hover {
  cursor: pointer;
  transform: scale(1.05);
}

 @media (min-width:375px) and (max-width:425px){
  .cajaflexible{
    display: none;
  }
  .cajaflexible .navbar-toggler{
    margin-left: -5em;
  }
}
