/* MAIN ICONOS */
.wp {
  width: 80px;
  height: 80px;
  font-size: 60px;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.wp:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.visitado {
  color: var(--color-fifth);
}

.cajawp {
  display: flex;
  align-items: center;
  justify-content: center;
}
