* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  font-family: "Poppins", sans-serif;
}
:root{
  --color-principal: #584738;
  --color-principal2: #3f3228;
  --color-secondary: #4c583e;
  --color-terciary: #b59e7d;
  --color-fourth: #959581;
  --color-fourth2: #95958170;
  --color-fifth: #f1eada;
  --color-sixth: #eec58c;
  --color-seventh: #aa6d3b;
}

.body-content{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.main-content{
  width: 100%;
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
} 

a {
  text-decoration: none;
  margin: 0px 60px;
  border-radius: 10px;
}

.cajaflexible {
  background-color: var(--color-fourth);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Logo {
  width: 3em;
  margin-left: 1em;
  display: none;
}

/* Tablet (>= 768px) */
@media (min-width: 1024px) {
  .Logo {
    display: block;
  }
}

.btnarticle {
  background-color: var(--color-principal);
  color: var(--color-fifth);
  border: none;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.btnarticle:hover {
  background-color: var(--color-terciary);
  color: var(--color-fifth);
  transform: scale(1.05);
}

#border {
  border-top: 1px solid var(--color-principal);
  margin: 15px 0px;
  padding: 15px;
}



/* MAIN ICONOS */
.wp {
  width: 80px;
  height: 80px;
  background-color: var(--color-secondary);
  font-size: 60px;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.wp:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.visitado {
  color: var(--color-fifth);
}

.cajawp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flecha {
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  font-size: 60px;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: transform 0.3s ease;
}

.flecha:hover {
  cursor: pointer;
  transform: scale(1.05);
}

 @media (min-width:375px) and (max-width:425px){
  .cajaflexible{
    display: none;
  }
  .cajaflexible .navbar-toggler{
    margin-left: -5em;
  }
}
